@import url(../css/color.css);

body {
    padding: 0;
    margin: 0;
}

.b {
    border: 1px solid var(--main-color-gray);
}

#container {
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculette {
    background-color: var(--main-color-white);
    width: 90%;
    max-width: 250px;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    /*gap: 5px;*/
}

.calculette > *{
    padding: 2px;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.col-calculette-1 {
    max-width: 70%;
    gap: 5px;
}


/********************création des boutons***********/
.col-calculette-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.col-calculette-1 .line-calculette:nth-child(1) {
    grid-column: span 3;
}

.col-calculette-2 .line-calculette,
.col-calculette-1 .line-calculette {
    display: flex;
}

.col-calculette-2 .line-calculette > *,
.col-calculette-1 .line-calculette > *{
    flex: 1;
}

.col-calculette-1 .line-calculette:nth-child(2) {
    grid-column: span 2;
}

/************fin**********************/ 


/********************création de l'interface***********/
.col-calculette-2{
    max-width: 30%;
    display: grid;
    gap: 5px;
}

.col-calculette-1 .line-calculette input,
.col-calculette-2 .line-calculette input{
    width: 100%;
    border: none;
    background-color: var(--main-color-screan);
    color: var(--main-color-white);
}

.line-calculette{
    height: 35px;
}

.line-calculette > *{
    border-radius: 5px;
    box-shadow: 1px 8px 16px 1px var(--main-color-screan);
    cursor: pointer;
    transition: all .05s;
    text-transform: uppercase;
}

.line-calculette > button:hover{
    background-color: var(--main-color);
    color: var(--main-color-white);
    transform: scale(1.1);
}

button{
    border: 0.1px solid var(--main-color-gray);
}
/************fin**********************/ 